
.column-l {
  float: left;
  width: 30%;
}

.column-r {
  float: right;
  width: 70%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.athlete-button {
  color: #18A833;
  background-color: white;
  border-color: #18A833;
  border-radius: 8px;
}

.athlete-button:hover {
    color: white;
    background-color: #18A833


}

.profile-column-l {
  float: none;
  width: 15%;
}

.profile-column-r {
  float: none;
  width: 85%;
}

