#athletebio {
  width: 100%;
  text-align: left;
  background-color: lightgreen;
  margin-top: 0px;
  padding-left: 50px;
}


.column-l {
  float: left;
  width: 50%;
}

.column-r {
  float: right;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.athlete-button {
  color: #18A833;
  background-color: white;
  border-color: #18A833;
  border-radius: 8px;
}

.athlete-button:hover {
    color: white;
    background-color: #18A833


}

.profile-column-l {
  float: left;
  width: 15%;
}

.profile-column-r {
  float: right;
  width: 85%;
}