/*   Sitewide  */

body {
    
    
    font-family: Arial;
    background-color: white;

}

.navbar {
    background-color: white;
    border-radius: 0px;
    font-family: Arial;
    font-size: 20px;


    
}


.navbar-nav>li>a, .navbar-dark .navbar-nav .nav-link {
    color: black;

}

.navbar-nav>li>a, .navbar-dark .navbar-nav:hover .nav-link:hover {
    color: #20CC67;

}

#navbaritem {
     color: black;

}


section {
    margin-top: 100px;
}
