/*   Sitewide  */

body {
    
    
    font-family: Arial;
    background-color: white;

}

.navbar {
    background-color: white;
    border-radius: 0px;
    font-family: Arial;
    font-size: 20px;


    
}


.navbar-nav>li>a, .navbar-dark .navbar-nav .nav-link {
    color: #18A833;

}

.navbar-nav>li>a, .navbar-dark .navbar-nav:hover .nav-link:hover {
    color: black;

}

.mystyles {
    background-color: #18A833; 
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;

}



section {
    margin-top: 100px;
}
