.profile-button {
  color: #18A833;
  background-color: white;
  border-color: #18A833;
  border-radius: 8px;
  text-align: center;
  width: 100%;
}

.profile-button:hover {
    color: white;
    background-color: #18A833;

}

.card-body {
    text-align: center;
}
.loading {

    justify-content: center;
    width: 100%;

}