{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
</head>
<body>

    <h1> {{ athlete_info["fullname"] }}</h1>

    <img src = {{ athlete_info["rosterpic"] }}>
    <div>
    <ul>
           {% for key, item in athlete_info.items() %}
              {{  key }} : {{ item }}
              <br>
           {% endfor %}

           <br>
           <br>
           <br>
    </ul>
  </div>
  <div>
    {% for arrest_key, arrest_item in arrests.items() %}
              {{  arrest_key }} : {{ arrest_item }}
              <br>
              {%endfor%}
    <br>
    <br>
  </div>

  <div> 
    <h3>Career Stats</h3>
    {% for career_stat_type, career_stat_list in career_stats.items() %}
    <table>
      {% for season_stats in career_stat_list %}
      {% for stat_type, stat in season_stats.items() %}
      <th> {{ stat_type }} </th>
      {% endfor %}
    <tr>
      {% for stat_type, stat in season_stats.items() %}
      <td> {{ stat }}</td>
      {% endfor %}
    </tr>
    
    {% endfor %}
      
    </table>
    

      
    <br>
    {% endfor %}

  </div>



  <br>
  <br>
 
  <div>
    BELOW SHOULD BE PLAYER TWEETS
    <br>
     <ul>
           {% for tweet in tweets %}

            {{ tweet }}
            <br>
            <br>
             {% endfor %}

    </ul>

 
  </div>

  <div>
     <form action = "/addfavorite" method="POST">
      <input type="submit" name="favorite" value="Favorite">
      </form>
  </div>

  <div>
    <form action = "/removefavorite" method="POST">
      <input type="submit" name="unfavorite" value="Unfavorite">
      
    </form>
  </div>



<p> <a href='/searchpage'>Back to Search</a></p>

</body>
</html>

{% endblock %}