{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
</head>
<body>

    <h1> {{ athlete_info["fullname"] }}</h1>

    <img src = {{ athlete_info["rosterpic"] }}>
    <div>
    <ul>
           {% for key, item in athlete_info.items() %}
              {{  key }} : {{ item }}
              <br>
           {% endfor %}

           <br>
           <br>
           <br>
    </ul>
  </div>

  <div>
    {{ arrests }}
  </div>

  <div> 
    <h3>Career Stats</h3>

    {% for career_stat_type, career_stat_list in career_stats.items() %}
    <table border = '1'>
      {% for season_stats in career_stat_list %}
      {% for stat_type in season_stats.keys() %}
      <th> {{ stat_type }} </th>
      {% endfor %}
      {% endfor %}
      {% for season_stats in career_stat_list %}
    <tr>
      {% for stat in season_stats.values() %}
      <td> {{ stat }}</td>
      {% endfor %}
    </tr>
    
    {% endfor %}
      
    </table>
    

      
    <br>
    {% endfor %}

  </div>



  <br>
  <br>
 
  <div>
    <h3>Tweets</h3>
    <br>
     <ul>
           {% for tweet in tweets %}

           <div>
             {{ tweet }}
             <br>
           </div> 
            <br>
             {% endfor %}

    </ul>

 
  </div>

  <div>
     <form action = "/addfavorite" method="POST">
      <input type="submit" name="favorite" value="Favorite">
      </form>
  </div>

  <div>
    <form action = "/removefavorite" method="POST">
      <input type="submit" name="unfavorite" value="Unfavorite">
      
    </form>
  </div>


</body>
</html>

{% endblock %}