{% extends 'base.html' %}

{%block body%}
 <link rel="stylesheet" href="/static/css/athleteprofile.css">

<div class='row' style="background-color: #F0FFF2; padding-left: 10px;">
  <div class = profile-column-l>
    <br>
    <img src = {{ athlete_info["rosterpic"] }}>
  </div>
  <div class = profile-column-r>
    <div><font size="14"> {{ athlete_info["fullname"] }}</font>
    <button class = "athlete-button" type="button" id="fav">Favorite</button>
    <button class = "athlete-button" onclick="showStats();">Career Stats</button>
    <button class = "athlete-button" onclick="showTweets();">Latest Tweets</button>
    <button class = "athlete-button" onclick="showArrests();">Arrests</button>
    </div>

  <div class="column-l">
   College: {{ athlete_info["College"]}}
   <br>
   High School: {{ athlete_info["High School"]}}
   <br>
   From: {{ athlete_info["from"]}}
   <br>
   Age: {{ athlete_info["Age"]}}
   <br>
    Height: {{ athlete_info["Height"]}}
    <br>
    DOB: {{ athlete_info["Birth"]}}
  </div>
  <div class="column-r">
    Team: {{ athlete_info["current_team"] }}, {{ athlete_info["team_abbr"] }}
    <br>
    Arena: {{ athlete_info["arena"]}}
    <br>
    Position: {{ athlete_info["Position"] }}
    <br>
    Jersey Number: {{ athlete_info["jersey_num"]}}
    <br>
    Weight: {{ athlete_info["Weight"]}} lbs
  </div>
</div>
</div>

<div id="athletestats" style="padding-left: 10px;"> 
{% for career_stat_type, career_stat_list in career_stats.items() %}
<table class="table table-striped table-sm table-responsive table-hover" style="table-layout:fixed;">
  {% for season_stats in career_stat_list %}
  {% for stat_type in season_stats.keys() %}
  <th> {{ stat_type }} </th>
  {% endfor %}
<tr>
  {% for stat in season_stats.values() %}
  <td> {{ stat }}</td>
  {% endfor %}
</tr>

{% endfor %}
  
</table>

<br>
{% endfor %}

</div>

<div id="athletetweets" style="padding-left: 10px;">

<table class="table table-striped table-sm table-responsive table-hover" style="table-layout:fixed;">
  
  <th> Tweets </th>
  {% for tweet in tweets %}
<tr>
  <td> {{ tweet }}</td>
  {% endfor %}
</tr>

</table>

</div>

<div id="athletearrests" style="padding-left: 10px;">
  <table class="table table-striped table-sm table-responsive table-hover" style="table-layout:fixed;">
    <th> Arrest Date </th>
    <th> Crime </th>
    <th> Description </th>
    <th> Outcome </th>
    <tr>
    {% for arrest_detail in arrests.values() %}
    <td> {{arrest_detail}} </td>
    {% endfor %}
    </tr>

  </table>
    
</div>

<div>

      <script>
        document.getElementById('fav').addEventListener('click', function() {
            window.location = '/updatefavorites'
        })
      </script>

</div>


<script src="/static/JS/athlete_info.js"></script>
</body>
</html>

{% endblock %}