{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
<!-- look up what this does if not covered in self study or online research -->
{ {super()} }
<link rel="stylesheet" href="{{url_for('static', filename = 'signin.css')}}">
{% endblock%}

{% block content %}

    <div class = "container">
        
        <form class = "form_signin" method = "POST" action = '/login'>

            <h2 class="form_signin_heading">Please sign in</h2>
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.password) }}
            {{ wtf.form_field(form.remember) }}
            <button calss = "btn-lg btn-primary btn-block" type="submit">Sign in</button>
            
        </form>
    </div>

    {% endblock %}