{% extends 'base.html' %}
{% block body %}
<!DOCTYPE html>


    <h1> Results </h1>
    

  
    {% for player in playername %}
    <div class="card" style="width: 18rem;">
      <img src={{ player["profile_picture"] }} class="card-img-top" alt="...">
      <img src = >
      <div class="card-body">
        <h5 class="card-title">{{player["name"]}}</h5>
        <a href="/athletes/{{ player["athlete_id"] }}" class="btn btn-primary">Profile</a>
      </div>
    </div>

    {% endfor %}
  

{% endblock %}
