{% extends 'base.html' %}
{% block body %}
<link rel="stylesheet" href="/static/css/search.css">
<script src="/static/JS/athlete_info.js"></script>

    <div id ="searchresultcards">
    <h1> Results... </h1>
    


     <div style="display: grid; grid-template-columns: auto auto auto auto;">
    {% for player in playername%}

    <div class="card" style="width: 18rem;">
      <img src={{ player["profile_picture"] }} class="card-img-top" onerror="this.src='/static/blank-profile-picture.png'">
      <div class="card-body">
        <a href="/athletes/{{ player["athlete_id"] }}" class="profile-button btn btn-primary" onclick="showLoader()">{{player["name"]}}</a>
      </div>
    </div>

    {% endfor %}
  </div>
 </div>




{% endblock %}
